.l-footer
  .footer
    position: fixed
    z-index: 100
    bottom: 30px + 20
    left: 0
    width: 100%

    .footer-copyright
      position: absolute
      top: 0
      left: 40px

    .footer-backtop
      position: absolute
      top: 0
      right: 40px


// PC Large
+mediaquery-pc-large


// PC
+mediaquery-pc


// Tablet
+mediaquery-tablet
  .l-footer
    .footer
      bottom: 20px + 20

      .footer-copyright
        left: 30px

      .footer-backtop
        right: 30px


// SmartPhone Large
+mediaquery-smartphone-large
  .l-footer
    .footer
      bottom: 15px + 20

      .footer-copyright
        left: 20px

      .footer-backtop
        right: 20px


// SmartPhone
+mediaquery-smartphone
  .l-footer
    .footer
      bottom: 15px + 20

      .footer-copyright
        left: 20px

      .footer-backtop
        right: 20px