.l-header
  .logo
    position: fixed
    margin: auto
    width: 22px
    height: 311px
    top: 0
    right: 0
    bottom: 0
    left: 0

    z-index: 10

  .navigation
    position: fixed
    z-index: 100
    top: 30px
    left: 0
    width: 100%

    .navigation-about
      position: absolute
      top: 0
      left: 40px

    .navigation-link
      position: absolute
      top: 0
      right: 40px



// PC Large
+mediaquery-pc-large


// PC
+mediaquery-pc


// Tablet
+mediaquery-tablet
  .l-header
    .navigation
      top: 20px

      .navigation-about
        left: 30px

      .navigation-link
        right: 30px


// SmartPhone Large
+mediaquery-smartphone-large
  .l-header
    .logo
      position: absolute
      +scale(0.7, 0.7)

    .navigation
      top: 15px

      .navigation-about
        left: 20px

      .navigation-link
        right: 20px


// SmartPhone
+mediaquery-smartphone
  .l-header
    .logo
      position: absolute
      +scale(0.7, 0.7)

    .navigation
      top: 15px

      .navigation-about
        left: 20px

      .navigation-link
        right: 20px