.l-main
  .main-articles
    +clearFix

    .article
      width:  (100% / 4)
      float: left
      margin: 0


// Tablet
=mediaquery-pc
  .l-main


// Tablet
=mediaquery-tablet
  .l-main


// SmartPhone
+mediaquery-smartphone
  .l-main