.l-main
  .main-articles
    opacity: 0

    &:first-child
      opacity: 1

      .article:first-child
        .image-flame
          svg path
            fill: rgba(0,0,0,0)

  .article
    margin: 0 auto


// Media Queries
  // PC Large
  +mediaquery-pc-large
    .l-main
      .article


  // PC
  +mediaquery-pc
    .l-main
      .article


  // Tablet
  +mediaquery-tablet
    .l-main
      .article


  // SmartPhone Large
  +mediaquery-smartphone-large
    .l-main
      .article


  // SmartPhone
  +mediaquery-smartphone
    .l-main
      .article