.about
  .about-overlay
    background-color: rgba($bgColor-white, 0.9)

  .about-text
    background-color: $color-base
    width: 500px
    padding: 50px
    color: $color-inverse

    .text-title
      +fontSize(20)
      display: inline-block
      margin-top: 0
      text-transform: uppercase

    a
      text-decoration: underline
      color: $color-inverse

      &:hover
        opacity: 0.7

    h2
      +fontSize(17)
      margin-top: 2.5em
      text-transform: uppercase

    p
      margin: 0

    ul
      margin: 0

  .about-close
    position: absolute
    width: 40px
    height: 40px
    right: 30px
    top: 30px
    cursor: pointer
    @extend %animation

    .close-border
      width: 100%
      margin-top: 20px

    .close-border-left,
    .close-border-right
      width: 40px
      height: 1px
      background-color: $color-inverse

    .close-border-left
      +rotate(45deg)
    .close-border-right
      +rotate(-45deg)



// SmartPhone Large
+mediaquery-smartphone-large
  .about
    .about-text
      width: 90%


// SmartPhone
+mediaquery-smartphone
  .about
    .about-text
      width: 90%
      padding: 30px