// svg animation
+keyframes(stroke)
  0%
    stroke-dashoffset: 3000
    fill: rgba(0,0,0,0)
    stroke-width: 1
  80%
    stroke-dashoffset: 600
    fill: rgba(0,0,0,0)
    stroke-width: 1
  100%
    stroke-dashoffset: 0
    fill: $color-base
    stroke-width: 0

+keyframes(stroke-little)
  0%
    stroke-dashoffset: 1000
    fill: rgba(0,0,0,0)
    stroke-width: 1
  80%
    stroke-dashoffset: 600
    fill: rgba(0,0,0,0)
    stroke-width: 1
  100%
    stroke-dashoffset: 0
    fill: $color-base
    stroke-width: 0


.article
  width: 100%

  .article-image
    position: relative
    top: 50%
    left: -2px
    +translateY(-50%)
    margin: 0 auto
    width: 381px
    height: 787px

  .image-flame
    position: absolute
    margin: 0
    width: 381px
    height: 787px
    top: 0
    left: 0

    svg
      width: 100%
      height: 100%

  .image-gif
    width: 320px
    height: 568px
    margin: 0
    top: 107px
    left: 32px
    position: absolute

    .image-gif-inner
      position: relative
      width: 100%
      height: 100%
      overflow: hidden

    img
      position: absolute
      opacity: 0

  .info-wrapper
    display: none

  &:first-child
    .image-flame.is-animate
      svg
        path
          stroke: $color-base
          fill: rgba(0,0,0,0)
          +animation-timing-function(ease-in)
          +animation-fill-mode(forwards)

      svg
        path:not(.stroke-little)
          stroke-dasharray: 3000
          stroke-dashoffset: 3000
          +animation-name(stroke)
          +animation-duration(1500ms)

      svg
        path.stroke-little
          stroke-dasharray: 1000
          stroke-dashoffset: 1000
          +animation-name(stroke-little)
          +animation-duration(1200ms)

      // delay
      svg
        @for $i from 1 through 10
          *:nth-child(#{$i})
            +animation-delay(#{($i - 1) * 300}ms)


// SmartPhone Large
+mediaquery-smartphone-large
  .article
    .article-image
      width: 381 * 0.8 + px
      height: 787 * 0.8 + px

    .image-flame
      width: 381 * 0.8 + px
      height: 787 * 0.8 + px

    .image-gif
      width: 320 * 0.8 + px
      height: 568 * 0.8 + px
      top: 107 * 0.8 + px
      left: 32 * 0.8 + px


// SmartPhone
+mediaquery-smartphone
  .article
    .article-image
      width: 381 * 0.6 + px
      height: 787 * 0.6 + px

    .image-flame
      width: 381 * 0.6 + px
      height: 787 * 0.6 + px

    .image-gif
      width: 320 * 0.6 + px
      height: 568 * 0.6 + px
      top: 107 * 0.6 + px
      left: 32 * 0.6 + px