.footer
  +fontFamily(bold)
  text-transform: uppercase

  .footer-copyright
    +fontSize(10)
    margin-top: 3px

  .footer-backtop
    cursor: pointer

    span
      @extend %animation

      &:hover
        opacity: 0.7