.logo
  width: 330px
  height: 85px
  text-align: center
  +fontFamily(bold)
  visibility: visible
  @extend %animation

  .logo-title
    +fontSize(30)
    margin: 0

  hr
    border: none
    width: 40px
    height: 2px
    background-color: $color-base

  .logo-subTitle
    +fontSize(18)
    margin: 0

  &:hover
    background-color: rgba($color-highlight, 0.7)


  &.is-hidden
    opacity: 0
    visibility: hidden


// SmartPhone Large
+mediaquery-smartphone-large
  .logo
    width: 100%


// SmartPhone
+mediaquery-smartphone
  .logo
    width: 100%